.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1.5rem 2rem;
  background-color: $color-bg-primary;
  border-bottom: 1px solid $color-border;

  &__text-1 {
    font-size: $font-size-tiny;
    font-weight: $font-weight-regular;
  }

  &__text-2 {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 1;
  }

  .search__bar {
    width: 70%;
  }

  .search {
    @include flex-center;
    gap: $spacing-xs;
    // border: 1px solid $color-border;
    border-radius: $border-radius-medium;
    padding: 0.5rem 1rem;
    transition: $transition-fast;
    box-shadow: $shadow-medium;
    background-color: $color-white;

    &__icon {
      height: $spacing-md;
      width: $spacing-md;
      color: $color-text-secondary;
      // fill: $color-text-light;
      transition: $transition-fast;
    }

    &__label {
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    &__input {
      font-size: $font-size-mini;
      font-weight: $font-weight-light;
      color: $color-text-secondary;
      border: none;
      outline: none;
      flex: 1;
      background-color: transparent;
    }

    &:focus-within {
      border-color: $color-text-secondary;
    }

    &--k-icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0.8rem;
      border: 1px solid $color-border;
      border-radius: $border-radius-medium;
      box-shadow: $shadow-card;
      cursor: pointer;

      .k__icon {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
    cursor: pointer;

    .help__icon {
      height: 3.6rem;
      width: 3.6rem;
      padding: 0.8rem;
      background-color: $color-white;
      border-radius: $border-radius-round;

      &:hover {
        transform: scale(1.03);
        transition: $transition-fast;
      }
    }
  }
}
