.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-text-primary;
  background-color: $color-white;
  box-shadow: $shadow-light;
  border-radius: 10px;
  transition: $transition-medium;
  padding: 1rem 2rem;
  margin-top: auto;
  cursor: pointer;

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &__img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: $border-radius-round;
    object-fit: cover;
  }

  &__info {
    flex: 1;
  }

  &__name {
    font-size: $font-size-tiny;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
  }

  &__email {
    font-size: $font-size-mini;
  }
}
@include respond(tab-port) {
  // tablet portrait and below
  .user {
    display: none; // hides the entire user container
  }

  .user-profile {
    display: none; // in case it's separate, hide it too
  }
}
