*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(large-medium) {
    font-size: 52.5%;
  }

  @include respond(largest) {
    font-size: 57.375%;
  }

  @include respond(big-desktop) {
    font-size: 50.25%;
  }

  @include respond(desktop) {
    font-size: 53.125%;
  }

  @include respond(tab-land) {
    font-size: 43%;
  }
  @include respond(phone) {
    font-size: 43%;
  }
  @include respond(phone-smaller) {
    font-size: 37%;
  }
}
